{% comment %}
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="it-IT" xmlns="http://www.w3.org/1999/xhtml">
   <head profile="http://gmpg.org/xfn/11">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

      <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      
      <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
      <script type='text/javascript' src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
   </head>

   <body>
      <h3>Mappa delle segnalazioni</h3>
      <p>..</p>
     
      <div id="map" style="width: 800px; height: 440px; border: 1px solid #AAA;"></div>

      <script type='text/javascript' src='{% static "maps/markers.json" %}'></script>
      <script type='text/javascript' src='{% static "maps/segnalazioni.js" %}'></script>
   </body>
</html>